[submodule "kompute"]
	path = ggml/src/kompute
	url = https://github.com/nomic-ai/kompute.git
[submodule "zfp"]
	path = zfp
	url = git@github.com:maximilian-tech/zfp.git
[submodule "OpenBLAS"]
	path = OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS.git
